{% extends 'base.html' %}
{% block title %}{{ author.username }}{% endblock %}
{% block header %}{{ author.username }}{% endblock %}
{% block content %}

<main role='main' class='container'>
  <div class='row'>
    <div class='col-md-3 mb-3 mt-1'>
      <div class='card'>
        {% include 'includes/user_info.html' %}
      <!-- Начало блока с отдельным постом -->
      {% for post in page %}
        {% include 'includes/post_item.html' with post=post %}
      {% endfor %}   
      <!-- Конец блока с отдельным постом --> 
      <!-- Остальные посты -->  
      {% if page.has_other_pages %}
        {% include 'includes/paginator.html' with items=page paginator=paginator %}
      {% endif %}<!-- Здесь постраничная навигация паджинатора -->
    </div>
   </div>
</main>
{% endblock %} 